@media (width < 1000px) {

    .container__informacoes {
        padding: 2rem;
    }

    .container__imagem-pessoa {
        width: 50%;
    }
}

@media (width < 930px) {
    .container__informacoes {
        padding: 1.5rem;
    }

}

@media (width < 850px) {
    .container__input,
    .texto__paragrafo,
    .container__botao {
        font-size: 22px;
    }

    .container__botoes {
        gap: 1rem;
    }
}

@media (width < 600px) {

    .container__input,
    .texto__paragrafo,
    .container__botao {
        font-size: 20px;
    }
    .container__imagem-pessoa {
        display: none;
    }
}